html{
    font-size: 60.5%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f2f5;
    background-image: url('../assets/background-img.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.container{
    display: flex;
    background-color:#2f5c9c;
    justify-content: space-between;
    padding: 10em;
    border-radius: 1em;
}
.hero-title{
    color: white;
    display: inline-block;
    position: relative;
    top: 40%;
    bottom: 40%;
    border-bottom: rgb(255, 255, 255) solid 0.2em;
    margin-right: 2em;
}
.login-container {
    width: 100%;
    max-width: 400px;
    padding: 2em;
}
.login-card {
    background: #fff;
    padding: 3em;
    border-radius: 0.8em;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.login-header h2 {
    margin-bottom: 0.6em;
    color: #333;
    text-align: center;
    padding: 1em;
}

.input-wrapper {
    position: relative;
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    padding-right: 4em;
    border: 1px solid #ccc;
    border-radius: 0.4em;
    font-size: 1rem;
}

label {
    position: absolute;
    top: 12px;
    left: 12px;
    color: #999;
    font-size: 1.3em;
    transition: 0.2s;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: -10px;
    left: 8px;
    font-size: 1em;
    background: #fff;
    padding: 0 4px;
    color: #4289EB;
}
/*Bot達o 'Entrar'*/
.login-btn {
    width: 100%;
    padding: 12px;
    background: #4289EB;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
}
/*Curso em cima do bot達o*/
.login-btn:hover {
    background: #27518d;
}
/*Estilo texto n達o tenho conta*/
.signup-link {
    margin-top: 15px;
    text-align: center;
    font-size: 0.9rem;
}
/*Estilo do link n達o tenho conta*/
.signup-link a {
    color: #007bff;
    text-decoration: none;
}
/*Estilo ao passar o mouse em cima do link*/
.signup-link a:hover {
    text-decoration: underline;
}

/*Mensagem de sucesso ao logar*/
.success-message {
    display: none;
    text-align: center;
    margin-top: 20px;
    color: green;
}

.success-message.show {
    display: block;
}



