html {
  font-size: 60.5%;
}

body {
  font-family: 'sans-serif';
  margin: 0;
  background-color: white;
  padding: 0;
}

#topo {
  display: flex;
  font-size: 1.6em;
  justify-content: space-between;
  background-color: #315f9a;
  color: rgb(0, 0, 0);
  padding-left: 2em;
  padding-right: 2em;
  border-bottom: rgb(255, 255, 255) solid 0.2em;
  height: 4em;
  position: sticky;
}
.menu-perfil{
  display: flex;
  justify-content: center;
  position: relative;
  top: 70%;
  text-decoration: none;
  color:white;
  font-size: 1.2em;
}
.nav-options a {
  justify-content: first baseline;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav-options ul {
  list-style: none;
  display: flex;
  margin-top: 2em;
  gap: 2em;
}

.nav-options a:hover {
  color: gray;
}

.menu {
  width: 220px;
  height: 100vh;
  background: #315f9a;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0px 5px rgba(0,0,0,2);
}

.perfil {
  text-align: center;
}

.perfil p {
  margin-bottom: 2em;
  font-size: 2em;
}

.menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 75%;
}
.menu li a{
  text-decoration: none;
  color: black;
}
.menu ul li {
  margin: 15px 0;
  cursor: pointer;
  font-size: 14px;
  background-color: rgb(206, 206, 206);
  color: black;
  padding: 1em;
  margin-bottom: 0.3em;
  width: 7em;
  text-align: center;
}
.back{
  position: absolute;
  top: 90%;
}
.back a{
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.menu ul li:hover {
  background-color: #e0e0e0;
}
.livro{
  position: absolute;
  left: 30em;
  top: 3%;
}
.calendario {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 340px;
  position: absolute;
  left: 70%;
  top: 10%;
}

.calendario-header {
  background-color: #315f9a;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #f4f4f4;
  padding: 10px;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #666;
}

td {
  text-align: center;
  padding: 10px;
  border: 1px solid #e0e0e0;
  transition: background-color 0.3s ease;
}

td:hover {
  background-color: #e6f2ff;
  cursor: pointer;
}

.dia-atual {
  background-color: #4a90e2;
  color: white;
  border-radius: 50%;
}

.fim-de-semana {
  color: #888;
}
