html {
  font-size: 60.5%;
}

body {
  font-family: 'sans-serif';
  margin: 0;
  background-color: white;
  padding: 0;
}

.menu {
  width: 260px;
  height: 90vh;
  background: #315f9a;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.menu h1 {
  font-size: 2.4em;
  text-align: center;
  margin-bottom: 20px;
}

.menu ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.menu ul li {
  margin: 15px 0;
  background-color: #d6d6d6;
  color: black;
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  font-size: 15px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.menu ul li:hover {
  background-color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.menu ul li a {
  text-decoration: none;
  color: black;
  display: block;
  font-weight: bold;
}

.back {
  margin-top: 20px;
}

.back a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  background-color: #1d3f6e;
  padding: 10px 25px;
  border-radius: 10px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.back a:hover {
  background-color: #274d87;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.back {
  margin-top: 20px;
}

.back a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  background-color: #1d3f6e;
  padding: 10px 25px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.back a:hover {
  background-color: #274d87;
  transform: scale(1.05);
}
