html{
    font-size: 60.5%;
}
body{
    font-family: 'sans-serif';
    margin: 0;
    background-color: #EFDBBF;
    padding: 0;
}
#topo{
    display: flex;
    font-size: 1.6em;
    justify-content: space-between;
    background-color: #8b1e22;
    color: rgb(0, 0, 0);
    padding-left: 2em;
    padding-right: 2em;
    border-bottom: black solid 0.1em;
    height: 4em;
    position: sticky;
}
.nav-options a{
    justify-content: first baseline;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.nav-options ul {
    list-style: none;
    display: flex;
    margin-top: 2em;
    gap: 2em;
}
.nav-options a:hover{
    color:gray;
}
 .menu {
      width: 220px;
      height: 100vh;
      background: #8b1e22;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      position: fixed;
      top: 0;
      left: 0;
      margin-top: 4.2%;
    }

    .perfil {
      text-align: center;
    }

    .perfil img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: #fff;
      margin-bottom: 10px;
    }

    .perfil p {
      font-weight: bold;
      margin-bottom: 20px;
    }

    .menu ul {
      list-style: none;
      padding: 0;
    }

    .menu ul li {
      margin: 15px 0;
      cursor: pointer;
      font-size: 14px;
    }

    .menu ul li:hover {
      text-decoration: underline;
    }

    .config {
      text-align: center;
      font-size: 22px;
      cursor: pointer;
    }
