html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: linear-gradient(135deg, #f5f8ff, #e1ecff);
  height: 100vh;
  overflow: hidden;
}

/* Cabeçalho */
#topo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(90deg, #315F9A, #4A90E2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  height: 6rem;
  padding: 0 3rem;
}

/* Botão LOGIN */
.nav-options a {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1rem 3rem;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.15);
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
}

.nav-options a:hover {
  background: white;
  color: #2d5fa6;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
}

.nav-options ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

/* Layout principal */
.main-container {
  display: flex;
  height: calc(100vh - 6rem);
  justify-content: center;
  align-items: center;
}

/* Lado esquerdo */
.left-content {
  text-align: center;
}

.blue-box{
  background-color: rgb(66, 141, 211);
  width: 15px;
  height: 70px;
  box-shadow: 0 4px 10px rgba(0, 225, 255, 0.3);
  border-radius: 5px;
}
/* Efeito de digitação */
.title {
  font-size: 8rem;
  font-weight: 700;
  color: #0d1c3d;
  position: relative;
  display: inline-block;
  padding-left: 0.4em;
  border-right: 7px solid black;
  white-space: nowrap;
  overflow: hidden;
  width: 0ch;

  animation:
    write 0.7s steps(8, end) forwards,
    mark 0.7s step-end infinite;
}

/* Animação de digitação */
@keyframes write {
  from {
    width: 0ch;
  }

  to {
    width: 9ch;
  }

  /* CemiBook = 8 caracteres */
}

/* Cursor piscando */
@keyframes mark {
  50% {
    border-right-color: transparent;
  }
}
